*.dxf
*.o
*.ninja_deps
*.ninja_log
.directory
Firmware/midi-grid.code-workspace
Firmware/output/*
Firmware/unit_tests/objects/
Firmware/unit_tests/coverage_report/
Firmware/unit_tests/tests/*/*
!Firmware/unit_tests/tests/*/*.cpp
!Firmware/unit_tests/tests/*/build_settings.json
Misc/image_generation/*
!Misc/image_generation/*.py
