---
Checks: '-*,
    bugprone-*,
    cert-*, -cert-err58-cpp,
    cppcoreguidelines-*,
    clang-analyzer-*,
    google-*, -google-readability-namespace-comments,
    hicpp-*,
    llvm-*,
    misc-*,
    modernize-*, -modernize-use-trailing-return-type,
    performance-*,
    portability-*,
    readability-*'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
CheckOptions:    
  - key: llvm-namespace-comment.ShortNamespaceLines
    value: 16
